server {
        listen 80 default_server;
        listen [::]:80 default_server;

        location / {
          root /usr/share/nginx/html;
          index index.html index.htm;
          try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html =404;
        }
}


server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        ssl_certificate /etc/nginx/certificate/nginx-certificate.crt;
        ssl_certificate_key /etc/nginx/certificate/nginx.key;
        location / {
          root /usr/share/nginx/html;
          index index.html index.htm;
          try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html =404;
        }
}
