.App {
  /* text-align: center; 
  background-color: #282c34;
   font-size: calc(10px + 2vmin);*/
  
  min-height: 100vh;
 /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: white; */
}
.sz2{
  width:20% !important;
  border: none;
  border-color: transparent;
}
.showAction{
  cursor: pointer;
}

.v-centered{
  margin-top:45% !important;
  
}
.z10{
  z-index: 10 !important;
}
.navbar-end .navbar-item > a {
  color: white ;
}
.bckcolor{
  background-color: lightblue !important;
}
.remPad{
  padding: 0rem !important;
}
.remPadTop{
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.pullup{
  margin-top: -1rem;
}
.vscrollable{
  overflow-y: auto;
  max-height: 100vh ; /* 550px */
}
.vscrollable-table{
  overflow-y: auto;
  max-height: 75vh ; 
}
.layout{
  display: flex;
  flex-direction: column;
}

.onTop{
  z-index: 50;
  position: absolute;
  background-color: lightslategray;
  cursor: pointer;
  margin-top: -12px;
  width: 200px;

}
.dropdown-item{
  padding-top: 0px !important;
  /*padding-bottom: 0px !important;
   margin-bottom: 0px; */
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .active{
  background-color: #282c34;
} */
.minHt{
  height:2.5rem !important;
  margin-top: -10px !important;
}
.signupcenter{
  margin-top: 5% !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mvUp{
  margin-top: 0px;
}